version: '3.8'
services:
  nx-cdk-demo:
    image: nx-cdk-demo:latest
    command: sh -c "tail -f /dev/null"
    working_dir: /src
    volumes:
      - ./:/src:delegated
      - node-modules:/src/node_modules
      - yarn-cache:/usr/local/share/.cache/yarn/v6
      - vscode-extensions:/root/.vscode-server/extensions
      - ~/.ssh:/root/.ssh
      - ~/.aws:/root/.aws
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 3333:3333
volumes:
  node-modules:
  yarn-cache:
  vscode-extensions:
